/*CSS*/

#hideThis{
	display: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 100px;
	background-color:#ff944d;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 48px;
}

p {
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-size: 24px;
}

/*Dropdowns*/
.own select {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	height: 48px;
	color: white;
	background-color: transparent;
	border-style: none
}

.own option {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}


.value select {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}

.value option {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}

.time select {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}

.time option {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}

#hideThis{
	display: none;
}

/*BUTTON*/
button {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	background-color: #33adff;
	border: none; 
	padding: 5px;
}

/*ANSWER*/


/*FOOTER*/

.footer p 
{
	font-family: 'Open Sans', sans-serif;
	color: black;
	opacity: 0.6;
	font-size: 12px;
}