/*CSS*/

#hideThis{
	display: none;
}

.welcome {
	padding: 0px;
	height: 80vh;
	margin: 0px;
	width: 100%;
}

.welcome h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 90px;
}

.welcome img {
	padding: 0px;
	height: 100px;
}

.welcome p {
	font-size: 16px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color:#ff944d;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 48px;
}

p {
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-size: 24px;
}

/*Dropdowns*/
.own select {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	height: 48px;
	color: white;
	background-color: transparent;
	border-style: none
	padding: 10px;
}

.own option {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}


.value select {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
	padding: 10px;
}

.value option {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}

.time select {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
	padding: 10px;
}

.time option {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	height: 48px;
	border-style: none;
	background-color: transparent;
}

#hideThis{
	display: none;
}

#ownChoice, #selectType, #timeType{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border: none;
    background: transparent url("http://i.imgur.com/9sBmTWZ.png") no-repeat right center;
  }

 select{
 	text-align-last: center; text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center; text-align-last: center;
 }

/*BUTTON*/
button {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;
	background-color: #33adff;
	border: none; 
	padding: 5px;
}


/*FOOTER*/

.footer p 
{
	font-family: 'Open Sans', sans-serif;
	color: black;
	opacity: 0.6;
	font-size: 12px;
}